.card {
  width: 150px;
  height: 250px;
  filter: drop-shadow(2px 2px  #af00b2) drop-shadow(2px -2px  #af00b2)
  drop-shadow(-2px 2px  #af00b2)drop-shadow(-2px -2px  #af00b2)
}
.flip-card {
  width: 200px;
  height: 300px;
  perspective: 1000px;
  cursor: pointer;
  margin: 10px;
  animation: slide-in-top 0.5s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
}

.flip-card-inner {
  position: relative;
  width: 100%;
  height: 100%;
  transition: transform 0.8s;
  transform-style: preserve-3d;
}


.flip-card.flipped .flip-card-inner {
  transform: rotateY(180deg);
}

.flip-card-front, .flip-card-back {
  position: absolute;
  width: 100%;
  height: 100%;
  backface-visibility: hidden;
  border: 1px solid #af00b2;
  display: flex;
  justify-content: center;
  align-items: center;
}

.flip-card-front {
  background-color: #af00b2;
  opacity: 1;
  background-image: radial-gradient(circle at center center, #000000, #af00b2), repeating-radial-gradient(circle at center center, #000000, #000000, 10px, transparent 20px, transparent 10px);
  background-blend-mode: multiply;
}

.flip-card-back {
  transform: rotateY(180deg);
  background-color: #000000;
}
.card-logo{
  width: 100px;
  height: 100px;
  filter: drop-shadow(2px 2px  #af00b2) drop-shadow(2px -2px  #af00b2)
  drop-shadow(-2px 2px  #af00b2)drop-shadow(-2px -2px  #af00b2)
}

.upsidedown-card{
  transform: rotate(180deg)
}

.flipped{
  animation: flip-in-ver-right 0.5s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
}

@keyframes flip-in-ver-right {
  0% {
    -webkit-transform: rotateY(-80deg);
            transform: rotateY(-80deg);
    opacity: 0;
  }
  100% {
    -webkit-transform: rotateY(0);
            transform: rotateY(0);
    opacity: 1;
  }
}

@keyframes slide-in-top {
  0% {
    -webkit-transform: translateY(-1000px);
            transform: translateY(-1000px);
    opacity: 0;
  }
  100% {
    -webkit-transform: translateY(0);
            transform: translateY(0);
    opacity: 1;
  }
}

@media (max-width: 480px) {
  .card-display{
    width: 100%;
  }
  
  .flip-card {
    max-width: 100px;
    height: 200px;
  }
  .card{
    height: 200px;
    width: 100px;
  }
  .card-logo {
    max-width: 80px;
  }
}