.symbols{
  display: flex;
  justify-content: center;
  will-change: filter;
  transition: filter 300ms;
  filter: drop-shadow(0 0 2em #646cffaa);
  color: violet;

}

.form{
  padding: 10px;

}

.form-entry{
  display: flex;
  justify-content: space-between;
  margin: 10px;
}

.entry{
  width: 200px;
  color: violet;
  background-color: black;
  border: 0px;
  border-radius: 5px;
  padding: 5px;
  font-family: "Libertinus Mono", monospace;
}

.calander {
  color: violet;
  background-color: black;
  border: 2px solid violet;
}
.gender-btn{
  margin: 10px;
  color: violet;
  background-color: black;
  border: 2px solid violet;
  padding: 20px;
  border-radius: 205px;

}