.symbols{
  display: flex;
  justify-content: center;
}

.form{
  padding: 10px;

}

.form-entry{
  display: flex;
  justify-content: space-between;
  margin: 10px;
}

.entry{
  width: 200px;
  color: violet;
  background-color: black;
  border: 0px;
  border-radius: 2px;
  padding: 5px;
}

.calander {
  color: violet;
  background-color: black;
  border: 2px solid violet;
}
.gender-btn{
  margin: 10px;
  color: violet;
  background-color: black;
  border: 2px solid violet;
  padding: 20px;
  border-radius: 205px;

}