.guide-card{
  width: 300px;
  height: max-content;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 20px;
}

.guide-info{
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: left;
}
.bold{
  font-weight: 900;
  font-size: larger;
  margin-bottom: 0px;
}

.rev{
  transform: rotate(180deg)
}


@media (max-width: 480px) {
  .card-div{
  padding: 30px;
  }
}