.shop{
  padding: 10px;
}
.products{
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  margin: 60px;
}

@media (max-width: 480px) {
  .mainTitle{
    font-size: 30px;
  }
  .title{
    font-size: 20px;
  }
  .products{
    margin: 0px;
  }
}