footer{
  position:relative;
  bottom: 0;
  left:0;
  right:0;
  top: 20px;
  display: flex;
  flex-direction: column;
  align-items: center;

}
.coffee-button {
  background-color: #f000e8;
  color: #000;
  padding: 10px 15px;
  border-radius: 5px;
  text-decoration: none;
  font-weight: bold;
  font-family: sans-serif;
  display: inline-block;
}
.coffee-button:hover {
  background-color: #690289;
}