html, body {
  margin: 0;
  padding: 0;
  overflow-x: hidden;
  width: 100%;
}
/* 
* {
  box-sizing: border-box;
} */


:root {
  font-family: "Libertinus Mono", monospace;
  font-weight: 400;
  font-style: normal;


  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  background-image: linear-gradient(to bottom, #000000, #090003, #100008, #14000e, #160014, #1e061e, #240b29, #2b0d35, #3e0f4a, #520f5f, #680b74, #7f0089);

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

a {
  font-weight: 500;
  color: #ffffff;
  text-decoration: inherit;
  will-change: filter;
  transition: filter 300ms;
}
a:hover {
  filter: drop-shadow(0 10px 1px #bc02f5);
}

body {
  margin: 0;
  place-items: center;
  min-width: 320px;
  max-height: 100vh;
}

h1 {
  font-size: 3.2em;
  line-height: 1.1;
}

button {
  color: violet;
  background-color: black;
  border: 2px solid violet;
  border-radius: 8px;
  padding: 0.6em 1.2em;
  font-size: 1em;
  font-weight: 500;
  font-family: inherit;
  cursor: pointer;
  transition: border-color 0.25s;
}
button:hover {
  border-color: #000000;
}
button:focus,
button:focus-visible {
  outline: 4px auto -webkit-focus-ring-color;
}

@media (max-width: 480px) {
  :root{
    width: 99%;
  }
}
