
.logo-nav {
  margin-left: -10px;
  width:40px;
  height: 44px;
}
.nav-items {
  display: flex;
  justify-content: space-evenly;
  flex-direction: row;
  align-items: center;
}

.list-items {
  list-style: none;
}

